$color-status-ok: #00B341;
$color-status-err: #FF3333;
$color-status-pending: #FF9A00;
$color-commit-bg: #FFF;

.commit-cont {
  padding: 12px 24px 12px 56px;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  position: relative;

  background: $color-commit-bg;
  box-shadow: 0 0 1px rgba(67, 68, 69, 0.3), 0 1px 1px rgba(67, 68, 69, 0.3);
  border-radius: 6px;
  width: 100%;

  .major-cont {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .top-row, .bottom-row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }


    .commit-status-icon {
      position: absolute;
      left: 25px;
      top: 13px;
    }

    .commit-number {
      font-weight: 500;
      font-size: 18px;
      height: 20px;
      margin-right: 4px;
    }
    .commit-number.ok {
      color: $color-status-ok;
    }
    .commit-number.err {
      color: $color-status-err;
    }
    .commit-number.pending {
      color: $color-status-pending;
    }

    .commit-name {
      font-size: 15px;
      line-height: 20px;
    }

    .commit-branch {
      margin-right: 10px;

      font-size: 13px;
      line-height: 16px;

      display: flex;
      align-items: center;

      .commit-hash {
        margin-left: 4px;
        opacity: 0.65;
      }

      .commit-branch-icon {
        margin-right: 4px;

        width: 16px;
        height: 8px;

        opacity: 0.65;
      }
    }
    .commit-author {
      font-size: 13px;
      line-height: 16px;

      display: flex;
      align-items: center;

      .commit-author-icon {
        margin-right: 4px;
        height: 14px;
        width: 12px;

        opacity: 0.65;
      }
    }
  }
  .minor-cont {
    margin-left: auto;

    font-size: 13px;
    line-height: 16px;
    opacity: 0.65;

    display: flex;
    flex-direction: column;
    gap: 8px;

    .top-row, .bottom-row {
      display: flex;
      align-items: center;
    }

    .commit-date-icon {
      width: 14px;
      height: 16px;
      margin-right: 5px;
      opacity: 0.65;
    }
    .commit-time-icon {
      width: 13px;
      height: 16px;
      margin-right: 5px;
      opacity: 0.65;
    }
  }
}
