$color-header: #000;
$color-desc: #7F8285;

.settings-header {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: $color-header;

  margin-bottom: 8px;
  padding-top: 8px;
}
.settings-desc {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.06px;
  color: $color-desc;

  margin-bottom: 22px;

}

.settings-status {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
}

.settings-button-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    @media (max-width: 500px) {
      flex-direction: column;

      .global-action-button, .global-control-button {
        width: 100%;
      }
    }
}

