name: release-action
on:
  release:
    types: [published]
jobs:
  release-obj:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
        with:
            node-version: '14'
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: chmod +x "${GITHUB_WORKSPACE}/.github/release.sh"
      - run: chmod +x "${GITHUB_WORKSPACE}/.github/createImage.sh"
      - run: chmod +x "${GITHUB_WORKSPACE}/.github/test.sh"
      - run: ./.github/release.sh
        shell: bash
      - run: ./.github/createImage.sh
        shell: bash
      - run: ./.github/test.sh
        shell: bash
