name: release-action
on: [release]
jobs:
  release-obj:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: chmod +x "${GITHUB_WORKSPACE}/.github/release.sh"
      - run: chmod +x "${GITHUB_WORKSPACE}/.github/createImage.sh"
      - run: chmod +x "${GITHUB_WORKSPACE}/.github/putContainerInfo.sh"
      - run: echo ./
      - run: sh ./.github/release.sh
        shell: bash
      - run: sh ./.github/createImage.sh
        shell: bash
